.submenu {
  flex: 0 0 120px;
  width: 120px;
  height: 80px;
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: center;
  transition: transform 100ms ease-in-out;

  &:hover {
    transform: scale(1.15);
  }

}