.title {
  width: 100%;
  border-radius: 7px;
  padding: 12px 10px 10px 9px;
  &__headline {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: $purple;
    
 
 
  }
}